*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(27deg, #E4C1F9 50%, #A9DEF9 50%);

}

.form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #F48C06;
    margin: 10px;

}

.form-body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 25px;
}

.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.form-body input[type="password"]{
    margin-top: 20px;
}

::placeholder{
    font-size: 1rem;
    color: rgb(255, 255, 255, 596); 
}

.form-body input:hover{
    transition: 5s;
    border: 1px solid #F48C06;
    color: #E4C1F9;
}

.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 48px;
    width: 78%;
    background: transparent;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 2px solid #2988b9;
    transition: all .5s ease;

}

.form-body button:hover{
    color: aliceblue;
    border: 2px solid #F48C06;
    background: linear-gradient(#E4C1F9, #A9DEF9);
}



